@media(max-width:992px){
	.search__form{
		flex-wrap: wrap;
		padding: 0	15px;
	}
	.search__form-labe {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.search__form-labe{
		margin-right: 0;
	}
}

@media (max-width: 768px) {
  img.logo__link-img {
    max-width: 250px;
  }

  .header__logo {
    padding: 40px 0 30px;
  }

  .menu__list-link {
    padding: 24px 10px 28px;
  }

	.slider__item {
		min-height: 400px;
	}
}

@media (max-width: 600px) {
  .menu {
    border-top: 1px solid #c4c4c4;
  }

  .menu__list {
    display: block;
    border-bottom: 1px solid #c4c4c4;
  }
  .menu__list-item {
    width: 100%;
    border-top: 1px solid #c4c4c4;
  }
  .menu__list-item::first-child,
  .menu__list-item::last-child {
    border-left: none;
    border-right: none;
  }
  .menu__list-link {
    padding: 20px 10px;
  }
	.search__form-input{
		margin-bottom: 20px;
	}
}
